body{
    background-color: rgb(44, 43, 43);
}

a{
    text-decoration: none;
    color: inherit;
}

.nav{
    display: flex;
    justify-content: space-between;
    max-width: 100vw;
    align-items: center;
    padding: 0 5vw;
}

.nav-links{
    display: flex;
    flex: 1;
    justify-content: space-between;
    color: rgb(100, 197, 197);
    margin: 0 0 0 5vw;
}

.blitt{
    width: 20vw;
    font-size: 5vw;
    color: white;
}
